* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
}

h1 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

nav {
  display: flex;
  padding: 1rem;
  gap: 15px;
}

.nav-bar {
  display: flex;
  gap: 2rem;
}

#account {
  color: black;
  font-weight: bolder;
  background-color: rgb(206, 73, 96);
  border-radius: 50%;
  font-size: 1.9rem;
  padding: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all {
  color: black;
  border-radius: 45%;
  padding: 15px;
  background-color: rgb(4, 163, 65);
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music {
  border-radius: 45%;
  padding: 15px;
  background-color: rgb(40, 40, 40);
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcasts {
  border-radius: 45%;
  padding: 15px;
  background-color: rgb(40, 40, 40);
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding: 2.5px;
  padding-top: 10px;
}

.playlist {
  display: flex;
  background-color: rgb(40, 40, 40);
  width: 22vh;
}

.your-playlists {
  padding: 2rem;
  padding-top: 3.5rem;
}

.playlists-titles {
  padding-top: 1.5rem;
  display: flex;
  overflow: scroll;
  gap: 2rem;
}

.playlists-titles h3 {
  color: rgb(116, 116, 116);
}

.desc {
  padding-top: 0.9rem;
}

.your-playlists h1 {
  font-size: 2.5rem;
}

.playlist h2 {
  padding-left: 1rem;
}

.title {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 330px) and (max-width: 430px) {
  body {
    background-color: rgb(18, 18, 18);
  }
}
